<launch>
   <node name="Stage" pkg="stage_ros" type="stageros" args="$(find project1)/worlds/mundo.world"/>

   <node name="talkerGoals" pkg="project1" type="talkerGoals" output="screen">
      <param name="x_goal" value="9" />
      <param name="y_goal" value="-4" />
      <param name="t_goal" value="2" />
   </node>

   <node name="moveRobotLead" pkg="project1" type="moveRobot" output="screen">
      <param name="id_robot" value="1" />
      <param name="algor" value="2" />
      <param name="crit_dist" value="0.8" />
      <param name="d_obj" value="0.2" />
      <param name="v_max_des" value="1" />
      <param name="v_max_rot" value="1" />
      <param name="k_rot_min" value="0.1" />
      <param name="k_rot_max" value="0.25" />
      <param name="ori_error" value="0.5" />
      <param name="t_avoid_obs" value="1.0" />
      <param name="w_1" value="1.0" />
      <param name="w_2" value="2.5" />
      <param name="t_wait" value="100" />

      <param name="dist_leader" value="1.5" />
      <param name="robot_rol" value="0" />
      <param name="id_leader" value="1" />
   </node>
   <node name="moveRobotFollow" pkg="project1" type="moveRobot" output="screen">
      <param name="id_robot" value="2" />
      <param name="algor" value="2" />
      <param name="crit_dist" value="0.8" />
      <param name="d_obj" value="0.2" />
      <param name="v_max_des" value="1" />
      <param name="v_max_rot" value="1" />
      <param name="k_rot_min" value="0.1" />
      <param name="k_rot_max" value="0.25" />
      <param name="ori_error" value="0.5" />
      <param name="t_avoid_obs" value="1.0" />
      <param name="w_1" value="1.5" />
      <param name="w_2" value="3.0" />
      <param name="t_wait" value="100" />

      <param name="dist_leader" value="2" />
      <param name="robot_rol" value="1" />
      <param name="id_leader" value="1" />
   </node>
</launch>
